<!DOCTYPE html>
<html >

<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>


  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>This Bot Predicts Daily Requests </h1>




     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="avg_surge" placeholder="avg_surge" required="required" />
        <input type="text" name="avg_voucher_discounts" placeholder="avg_voucher_discounts" required="required" />
		<input type="text" name="customer_signups" placeholder="customer_signups" required="required" />
        <input type="text" name="count_of_driver_activations" placeholder="count_of_driver_activations" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>
<div style="background-image: url('C:\Users\dell\Desktop\flaskapp\jeeny_website_logo.png');">

</body>
</html>


